body{
	background-color:rgb(241,214,163);
	font-family:sans-serif;
}


/*Begin Nav Bar*/
.nav{
	position:absolute;
	width:100%;
	padding:0%;
	margin:0px;
	color:white;
	font-weight:bold;
	display:inline-block;
	background-color:slategray;

}

.nav img{
	position:relative;
	width:10%;
	padding:1%;
}

.nav li{
	padding:0%;
	margin:0;
	display:inline;
}

.expanded_menu{
	display:none;
	padding:0;

}

.bar:focus + .expanded_menu, .bar:hover + .expanded_menu{
	display:block;
	margin-top:13%;
	background-color:slategray;
	position:absolute;
	color:white;
	text-shadow:1px 1px 1px 2px gray;
	font-family:sans-serif;
	list-style-type:none;
	border:2px solid gray;
	background-color:none;
	width:100%;
	margin:0;
}

.expanded_menu a {
	color:white;
	text-decoration:none;
	width:auto;
}

.expanded_menu a:hover{
	color:gray;
	text-decoration:none;

}
.expanded_menu li:hover + .expanded_menu{
	display:block;

}

.expanded_menu li{
	font-size:5em;
	border:black solid 1px;
	display:block;
	margin:0;
	padding:3%;


}

/*End Nav Bar*/

article{
	text-align:justify;
	padding:2%;
}

/*Begin Carrousel*/

.carrousel-image{
	overflow:hidden;
}
.carrousel-image figure{
	display:flex;
	flex-direction:row;
	position:relative;
	width:500%;
	text-align: left;
	margin:0%;
}


@keyframes slidy {
  0% { left: 0%; }
  15% { left: 0%; }
  20% { left: -100%; }
  35% { left: -100%; }
  40% { left: -200%; }
  55% { left: -200%; }
  60% { left: -300%; }
  75% { left: -300%; }
  80% { left: -400%; }
	95% { left: -400%; }
}

.carrousel-image figure img {
  position: relative;
  margin: 0px;
  left: 0;
  border-radius:15px;
  animation: 15s slidy infinite;
  opacity: 0.7;
  -webkit-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}

.carrousel-image figure img:hover {
	opacity:1;
}
/*End Carrousel*/

/*Begin Footer*/

footer{
	width:100%;
	background-color:slategray;
	font-size:18px;
	padding:0%;
	margin:0px;
	color:white;
	font-weight:bold;
	bottom: 0;
	text-align:center;
	position:relative;
}


.copyright{
	display:block;
	padding-top:2%;
	margin:0;
}
/*End Footer*/