body{
	background-color:rgb(241,214,163);
	font-family:sans-serif;
}


.nav{
	float:right;
	padding:1%;
	text-align:right;
	font-weight:bold;
	background-color:rgb(41,50,109);
	width:15%;
	margin:0%;
	clear:both;
}

.nav a, .nav a:visited{
	color:white;
	text-decoration:none;
}

.nav a:hover{
	color:gray;
	text-decoration:none;
}

.nav img{
	position:relative;
	width:100%;
}

.expanded_menu{
	display:none;
}

.bar:visited + .expanded_menu{
	display:block;
}

.bar:visited + .nav{
	display:none;
}

article{
	text-align:justify;
}

.carrousel-image{
	display:flex;
	flex-direction:column;
	position:relative;
	text-align: left;
	overflow:hidden;
}
/*Begin Footer*/
footer{
	width:100%;
	background-color:rgb(53,63,151);
	font-size:18px;
	padding:0px;
	margin:0px;
	color:white;
	font-weight:bold;
	padding:1%;
}

footer p{
	text-align:right;
}

footer img{
	width:2%;
	height:2%;
}
.copyright{
	font-size:60%;
	display:block;
}
/*End Footer*/