body{
	background-color:floralwhite;
	font-family:sans-serif;
}
h1{
margin-top:10%;
	color:black;
	font-weight:bold;
	text-shadow:black 1px 1px 1px;

}
h2{
	border-left:3px darkblue solid;
	padding:3%;
}

.welcome h2{
	border-left:none;
	border-right:3px darkblue solid;
	padding:1%;
}

/*Begin Nav Bar*/
.nav{
	/*position:fixed;*/
	width:15%;
	/*padding:0%;*/
	margin-top: 0;
	color:white;
	display:inline;
	font-weight:bold;
	/*background-color:slategray;*/
	border-radius: 6PX
	z-index:1;
	position:fixed;
	margin-left:1%;
	opacity:0.5;
	-webkit-transition: opacity 0.1s ease-out;
	-moz-transition: opacity 0.1s ease-out;
	-o-transition: opacity 0.1s ease-out;
	transition: opacity 0.1s ease-out;

}


.nav:hover{
	opacity:1;
}
 
 .nav img{
	position:relative;
	width:100%;
	padding:10%;
	opacity:1;
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
	margin:0;
	background-color:rgba(112,128,144, 0.7);
	margin:0;
}

.nav li a{
	padding:0%;
	margin:0;
	display:inline;
	
}


.bar{
	display:inline;
}


.expanded_menu{
	display:none;
	padding:0;

}

.bar:hover + .expanded_menu{
	display:block;
	margin-top:14%;
	padding-left:13%;
	background-color:rgba(126,125,126,0.7);
	position:absolute;
	color:darkblue;
	text-shadow:1px 1px 1px 2px gray;
	font-family:sans-serif;
	list-style-type:none;
	/*border:2px solid gray;*/
	width:100%;
	margin:0;
	}

.expanded_menu a {
	color:white;
	text-decoration:none;
	width:auto;
	opacity:1;
}

.expanded_menu a:hover{
	color:gray;
	text-decoration:none;

}

.expanded_menu li{
	font-size:5em;
	display:block;
	margin:0;
	padding:3.5%;

}

/*End Nav Bar*/

.welcome{
	text-align:right;
	margin-left:10%;
}
article{
	text-align:justify;
	padding:2%;
	margin-left:5%;
}
aside h2{
	margin-left:5%;
}

/*Begin Carrousel*/

.carrousel-image{
	overflow:hidden;
	margin-left:5%;
}
.carrousel-image figure{
	display:flex;
	flex-direction:row;
	position:relative;
	width:500%;
	text-align: left;
	margin:0%;
}


@keyframes slidy {
	0% { left: 0%; }
	15% { left: 0%; }
	20% { left: -100%; }
	35% { left: -100%; }
	40% { left: -200%; }
	55% { left: -200%; }
	60% { left: -300%; }
	75% { left: -300%; }
	80% { left: -400%; }
	95% { left: -400%; }
}

.carrousel-image figure img {
  position: relative;
  margin: 0px;
  left: 0;
  border-radius:15px;
  animation: 15s slidy infinite;
  opacity: 0.7;
  -webkit-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}

.carrousel-image figure img:hover {
	opacity:1;
}
/*End Carrousel*/

/*Begin Footer*/

footer{
	width:100%;
	background-color:slategray;
	font-size:18px;
	padding:0%;
	margin:0px;
	color:white;
	font-weight:bold;
	bottom: 0;
	text-align:center;
	position:relative;
}


.copyright{
	display:block;
	padding:2%;
	margin:0;
}
/*End Footer*/
@media screen and (min-width:768px) and (max-width:1024px){
	body{
		font-size:3em;
	}
	.expanded_menu li{
		font-size:1.5em;
	}
}

@media screen and (min-width:1024px){
	body{
		font-size:2em;
	}
	.nav{
		display:flex;
		width:100%;
	}
	.expanded_menu li{
		font-size:2em;
	}
}